<html>

<head>
    <link rel="stylesheet" href="../phb.standalone.css">
</head>

<body>
    {% for page in pages %}
    <div class="phb">
        {{ page }}
    </div>
    <br/>
    {% endfor %}
</body>

</html>
